<template>
  <div>
    <vue-highcharts :options="options" ref="lineCharts"></vue-highcharts>
  </div>
</template>

<script>
import VueHighcharts from 'vue2-highcharts'

export default{
    components: {
        VueHighcharts
    },
    data(){
        return{
            chart_data:{
                name: [],
                marker: {
                    symbol: 'square'
                },
                data: []
            },
            options: {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'USER ONBOARDING LINE CHART'
                },
                // subtitle: {
                    //   text: 'Source: WorldClimate.com'
                // },
                xAxis: {
                    title: {
                        text: 'Stages'
                    },
                    categories: ['0', '20', '40', '50', '70', '90', '99', '100']
                },
                yAxis: {
                    title: {
                        text: 'Count'
                    },
                    // labels: {
                    //   formatter: function () {
                    //     return this.value + '°';
                    //   }
                    // }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: []
            }
        }
    },
    methods: {
        /**
         * Get user steps percentages and use as chart data
         */
        getPercentages(){
            axios.get('onboading/get_percentages')
                .then(response=>{
                    this.chart_data = response.data
                    this.load()
                })
                .catch(error => console.log('error'))
        },

        /**
         * Loads data to the high chart
         */
        load(){
            let lineCharts = this.$refs.lineCharts;
            lineCharts.delegateMethod('showLoading', 'Loading...');
            setTimeout(() => {
                lineCharts.addSeries(this.chart_data);
                lineCharts.hideLoading();
            }, 2000)
        }
    },

    mounted(){
        this.getPercentages()
    },
}
</script>
