<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">User Onboarding</div>

                    <div class="panel-body">
                        <form role="form" id="add_profile_form" v-on:submit.prevent="editProfile">
                            <div class="col-md-6" v-show="show_main">
                                <div :class="{'form-group': true, 'has-error': false}" style="display:none;">
                                    <label for="id">ID</label>
                                    <input type="text" id="id" name="id" class="form-control" placeholder="id" v-model="edit_profile.id" readonly required>
                                    <span class="text-danger" v-if="edit_errors.id">{{ edit_errors.id[0] }}</span>
                                </div>
                                <div :class="{'form-group': true, 'has-error': false}">
                                    <label for="user_name">User Name</label>
                                    <input type="text" id="user_name" name="user_name" class="form-control" placeholder="User Name" v-model="edit_profile.user_name" required>
                                    <span class="text-danger" v-if="edit_errors.user_name">{{ edit_errors.user_name[0] }}</span>
                                </div>

                                <div class="row pull-right">
                                    <div class="col-md-4 col-xs-4">
                                        <button type="button" class="btn btn-Info " @click="searchUser()">Search User</button>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <button type="reset" class="btn btn-danger " @click="clearForm()">Clear</button>
                                    </div>
                                    <div class="col-md-4 col-xs-4" v-show="show_create_button">
                                        <button type="submit" class="btn bg-success " >Create Account</button>
                                    </div>
                                    <div class="col-md-4 col-xs-4" v-show="show_activate_button">
                                        <button type="button" class="btn bg-success " @click="activateAccount()">Activate Account</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" v-show="show_info">
                                <h3>Name : {{edit_profile.user_name}}</h3>
                                <div :class="{'form-group': true, 'has-error': false}">
                                    <label for="email">Your Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" v-model="edit_profile.email">
                                    <span class="text-danger" v-if="edit_errors.email">{{ edit_errors.email[0] }}</span>
                                </div>
                                <div :class="{'form-group': true, 'has-error': false}" v-show="show_jobs_field">
                                    <label for="jobs">what jobs are you interested in?</label>
                                    <input type="text" id="jobs" name="jobs" class="form-control" placeholder="what jobs are you interested in?" v-model="edit_profile.jobs">
                                    <span class="text-danger" v-if="edit_errors.jobs">{{ edit_errors.jobs[0] }}</span>
                                </div>
                                <div :class="{'form-group': true, 'has-error': false}" v-show="show_experience_field">
                                    <label for="experience">Do you have relevant experience in these jobs?</label>
                                    <input type="text" id="experience" name="experience" class="form-control" placeholder="Yes of No. If Yes please provide detail." v-model="edit_profile.experience">
                                    <span class="text-danger" v-if="edit_errors.experience">{{ edit_errors.experience[0] }}</span>
                                </div>
                                <div :class="{'form-group': true, 'has-error': false}" v-show="show_freelancer_field">
                                    <label for="freelancer">Are you a freelancer?</label>
                                    <input type="text" id="freelancer" name="freelancer" class="form-control" placeholder="Yes of No." v-model="edit_profile.freelancer">
                                    <span class="text-danger" v-if="edit_errors.freelancer">{{ edit_errors.freelancer[0] }}</span>
                                </div>

                                <div class="row pull-right">
                                    <div class="col-md-4 col-xs-4" v-show="show_update_info_btn">
                                        <button type="button" class="btn bg-standard " @click="updateInfo()">Update Info</button>
                                    </div>
                                    <div class="col-md-4 col-xs-4" v-show="show_waitingapproval_field">
                                        <button type="button" class="btn bg-standard " @click="waitingForApproval()">Waiting for approval</button>
                                    </div>
                                    <div class="col-md-4 col-xs-4" v-show="show_approval_btn">
                                        <button type="button" class="btn bg-standard " @click="approval()">Approval</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                edit_profile : {
                    'id':'',
                    'user_name':'',
                    'is_activated': 0,
                    'email':'',
                    'jobs':'',
                    'experience':'',
                    'freelancer':'',
                    'waitingapproval':'',
                    onboarding: {
                        user_id:'',
                        created_at:'',
                        onboarding_perentage:0,
                        count_applications:0,
                        count_accepted_applications:0,
                    }
                },
                edit_errors: {},
                new_id:'',
                users:[],
                show_create_button : true,
                show_activate_button: false,
                show_profile_details : false,
                show_info : false,
                show_jobs_field : false,
                show_main : true,
                show_experience_field : false,
                show_freelancer_field : false,
                show_waitingapproval_field : false,
                show_update_info_btn : false,
                show_approval_btn : false,
            }
        },
        mounted() {
            this.getPercentages()
        },
        methods: {
            /**
             * Get user steps percentages
             */
            getPercentages(){
                axios.get('profiles').then(response=>{
                    this.users = response.data.entities
                    this.edit_profile.id = response.data.new_id
                    this.new_id = response.data.new_id
                });
            },

            /**
             * Search user by user name:
             *  - if available: show the appropriate step
             *  - if not available: displays an alert message and can Create Account
             */
            searchUser() {
                axios.get('/profiles/search?user_name='+ this.edit_profile.user_name).then((response) => {
                    if(_.isEmpty(response.data)){
                        alert('User Not Exist.')
                        this.edit_profile.id = this.new_id
                    }else{
                        this.$set(this,'edit_profile', response.data)

                        if(this.edit_profile.onboarding.onboarding_perentage>=0){
                            alert('User Already Exists.')
                            this.show_activate_button = true,
                            this.show_create_button = false

                            if(this.edit_profile.onboarding.onboarding_perentage>=20){
                                this.show_info = true
                                this.show_update_info_btn = true
                                this.show_main = false

                                if(this.edit_profile.onboarding.onboarding_perentage>=40){
                                    this.show_jobs_field = true

                                    if(this.edit_profile.onboarding.onboarding_perentage>=50){
                                        this.show_experience_field = true

                                        if(this.edit_profile.onboarding.onboarding_perentage>=70){
                                            this.show_freelancer_field = true

                                            if(this.edit_profile.onboarding.onboarding_perentage>=90){
                                                this.show_update_info_btn = false
                                                this.show_waitingapproval_field = true

                                                if(this.edit_profile.onboarding.onboarding_perentage>=99){
                                                    this.show_update_info_btn = false
                                                    this.show_waitingapproval_field = false
                                                    this.show_approval_btn = true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                });
            },

            /**
             * Call on form submit to edit profile status and forward to appropriate step
             */
            editProfile() {
                axios.post('/profiles',this.edit_profile)
                    .then((response) => {
                        this.clearForm()
                        this.$router.push('/')
                    })
                    .catch(error => this.edit_errors = error.response.data.errors)
            },

            /**
             * Handles Activate Account button click
             */
            activateAccount(){
                this.edit_profile.is_activated = 1
                this.edit_profile.onboarding.onboarding_perentage = 20
                this.updateProfile()
            },

            /**
             * Handles Update Info button click
             */
            updateInfo(){
                if(this.edit_profile.email != '' || this.edit_profile.email != null){
                    this.edit_profile.onboarding.onboarding_perentage = 40

                    if(this.edit_profile.jobs != '' || this.edit_profile.jobs != null){
                        this.edit_profile.onboarding.onboarding_perentage = 50

                        if(this.edit_profile.experience != '' || this.edit_profile.experience != null){
                            this.edit_profile.onboarding.onboarding_perentage = 70

                            if(this.edit_profile.freelancer != '' || this.edit_profile.freelancer != null){
                                this.edit_profile.onboarding.onboarding_perentage = 90
                            }
                        }
                    }
                }
                this.updateProfile()
            },

            /**
             * Handles Waiting for approval button click
             */
            waitingForApproval() {
                this.edit_profile.onboarding.onboarding_perentage = 99
                this.updateProfile()
            },

            /**
             * Handles Approval button click
             */
            approval() {
                this.edit_profile.onboarding.onboarding_perentage = 100
                this.updateProfile()
            },

            /**
             * Updates profile information and forward to appropriate step
             */
            updateProfile() {
                axios.post('/profiles/'+this.edit_profile.id+'/update',this.edit_profile,'put')
                    .then((response) => {
                        alert('Information Updated Successfully.')
                        this.clearForm()
                        this.$router.push('/');
                    })
                    .catch(error => this.edit_errors = error.response.data)
            },

            /**
             * Clears Form data
             */
            clearForm() {
                this.edit_profile = {'id':'', 'user_name':'',is_activated: false,}
                this.edit_errors = {}
                this.getPercentages()
                this.show_create_button = true
                this.show_activate_button = false
                this.show_profile_details = false
                this.show_info = false
                this.show_jobs_field = false
                this.show_main = true
                this.show_experience_field = false
                this.show_freelancer_field = false
                this.show_waitingapproval_field = false
                this.show_update_info_btn = false
                this.show_approval_btn = false
            },
        },
    }
</script>
